.header {
  background-color: white;
position: sticky;
top: 0;
display: flex;
justify-content: space-evenly;
border: 0.1px solid lightgray;
padding: 10px;
width: 100%;
z-index: 999;

}

.header-left {
  display: flex;

}

.header-left > img {
  height: 40px;
  margin-right: 10px;
}

.header-search {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(240, 245, 246);
  border-radius: 5px;
}

.header-search > input {
  border: none;
  background: none;
  outline: none;
}


.header-right {
  display: flex;
  /* justify-content: space-between; */
  /* font-weight: 500; */
}

.feedPage{
  margin-left: 25%;
  padding-top: 30px;
}